$primary: #5ad1bc;
$primary-dark: #1ea48c;

$white: #ffffff;
$white06: rgba(255, 255, 255, 0.06);
$white12: rgba(255, 255, 255, 0.12);
$black100: #121212;
$black400: #252525;
$success: #65d349;
$error: #db4242;

$grey100: #eaeaea;
$grey200: #c8c8c8;
$grey300: #b6b6b6;
$grey350: #8d8d8d;
$grey400: #4f4f4f;
$grey500: #3b3b3b;
$grey600: #1e1e1e;

$size-sm: 489.8px;
$size-md: 847.8px;
$size-lg: 1100.8px;
$size-xl: 1300.8px;
